
@{
    ViewData["Title"] = "CustomerProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Customer>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-2"></div>
        <div class="col-md-8 mt-3">
            <h2 class="text-center text-capitalize">Customer Profile</h2>
            <form method="post">
                <input type="text" placeholder="Enter Your Name" name="customer_name" class="form-control mb-3" value="@Model[0].customer_name" />
                <input type="text" placeholder="Enter Your Phone" name="customer_phone" class="form-control mb-3" value="@Model[0].customer_phone" />
                <input type="text" placeholder="Enter Your Email" name="customer_email" class="form-control mb-3" value="@Model[0].customer_email" />
                <input type="text" placeholder="Enter Your Password" name="customer_password" class="form-control mb-3" value="@Model[0].customer_password" />
                <input type="text" placeholder="Enter Your Country" name="customer_country" class="form-control mb-3" value="@Model[0].customer_country" />
                <input type="text" placeholder="Enter Your City" name="customer_city" class="form-control mb-3" value="@Model[0].customer_city" />
                <input type="text" placeholder="Enter Your Address" name="customer_address" class="form-control mb-3" value="@Model[0].customer_address" />
                <input type="button" class="btn btn-primary" value="Update Profile" />
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
