<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Molla</title>
    <link rel="stylesheet" type="text/css" href="~/Websites/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Websites/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Websites/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/Websites/css/uicons-regular-rounded.css">
    <link rel="stylesheet" type="text/css" href="~/Websites/css/responsive.css">
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .navbar {
            background-color: #fff;
            border-bottom: 1px solid #ccc;
            display: flex;
            justify-content: center;
            padding: 10px 0;
        }

            .navbar ul {
                list-style: none;
                display: flex;
                gap: 30px;
                margin: 0;
                padding: 0;
            }

            .navbar li {
                position: relative;
            }

            .navbar a {
                text-decoration: none;
                color: #000;
                font-weight: 500;
                padding: 5px 10px;
                display: block;
            }

                .navbar a:hover {
                    color: #007bff;
                }

        .navbar li {
            position: relative;
        }

            .navbar li .submenu {
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                background: #fff;
                list-style: none;
                padding: 10px 0;
                border: 1px solid #ccc;
                min-width: 180px;
                z-index: 1000;
            }

            .navbar li:hover .submenu {
                display: block;
            }

            .navbar li .submenu li a {
                padding: 8px 15px;
                display: block;
                color: #000;
                font-weight: 400;
            }

                .navbar li .submenu li a:hover {
                    color: #007bff;
                }
    </style>

</head>
<body>

    <!-- ============================================================ -->
    <!-- HEADER SECTION                                               -->
    <!-- Contains: Top Bar, Main Header, Desktop Navigation           -->
    <!-- ============================================================ -->
    <header>

        <!-- Top Bar: Phone number + Social links + Login + Currency -->
        <div class="w-100 bg-1 header-pd">
            <div class="container">
                <div class="top-bar d-flex flex-wrap align-items-center justify-content-between">
                    <div class="bar-left">
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa-solid fa-phone"></i> Call: +98 765 432</a></li>
                        </ul>
                    </div>
                    <div class="bar-right">
                        <ul class="list-unstyled d-flex flex-wrap align-items-center gap-3">
                           @*  <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li> *@
                            @if (string.IsNullOrEmpty(ViewBag.checksession))
                            {
                                <li><a href="@Url.Action("CustomerLogin","customer")"><i class="fa-regular fa-user"></i> Login</a></li>

                            }
                            else
                            {
                                <li><a href="@Url.Action("CustomerLogout","customer")"><i class="fa-regular fa-user"></i> Logout</a></li>

                            }
                           @*  <li>
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                    <option selected>USD</option>
                                    <option value="1">PKR</option>
                                    <option value="2">EUR</option>
                                    <option value="3">RUB</option>
                                </select>
                            </li> *@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Top Bar -->
        <!-- Main Header: Logo + Search + Wishlist + Cart -->
        <div class="w-100 bg-white main-pd">
            <div class="container">
                <div class="main-header row w-100 d-flex align-items-center justify-content-between">
                    <div class="menu-left col-lg-4 col-md-4 d-flex flex-nowrap align-items-center">
                        <div class="field-box position-relative">
                            <input type="text" name="q" value="" class="search" placeholder="Search in..." required="">
                            <div class="search-field position-absolute">
                                <a href="#">
                                    <img src="~/Websites/images/resources/search-outline.svg" alt="" width="28px" style="-webkit-transform: rotateY(180deg);
                                   -moz-transform: rotateY(180deg);
                                    -ms-transform: rotateY(180deg);
                                     -o-transform: rotateY(180deg);
                                        transform: rotateY(180deg);">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-mid col-lg-4 col-md-4 text-lg-center">
                        <a href="index.html"><img src="~/Websites/images/logo.webp" alt=""></a>
                    </div>
                    <div class="menu-right col-md-4 col-lg-4">
                        <ul class="shp-lst list-unstyled d-flex align-items-center justify-content-end">
                            <li>
                                <a style="font-weight: 300;" href="@Url.Action("CustomerProfile","customer")">
                                    <i class="fa-regular fa-user"></i> Account
                                </a>
                            </li>
                            <li><a style="font-weight: 300;" href="#"><img src="~/Websites/images/resources/icon-1.png" alt=""> My wishlist</a></li>
                            <li><a style="font-weight: 500;" href="#"><img src="~/Websites/images/resources/icon-2.png" alt="">$0.00</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Header -->
        <!-- Desktop Navigation: Mega Menu (visible on large screens only) -->
        <nav class="navbar">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="about.html">ABOUT US</a></li>
                <li><a href="#">PRODUCT</a></li>
                <li>
                    <a href="#">CATEGORY</a>
                    <ul class="submenu">                        
                        @Html.Partial("fetchCategoryList",ViewData["category"])                     
                    </ul>
                </li>
                <li><a href="#">CONTACT US</a></li>
            </ul>
        </nav>


        <!-- End Desktop Navigation -->

    </header>
   
    <!-- ============================================================ -->
    <!-- END NEWSLETTER SUBSCRIPTION SECTION                          -->
    <!-- ============================================================ -->
    <!-- ============================================================ -->
    <!-- RAZOR BODY RENDER (ASP.NET Layout Placeholder)               -->
    <!-- ============================================================ -->
    <div id="container">
        <main role="main" class="pb-3">
            <div>
                @RenderBody()
            </div>
        </main>
    </div>
    <!-- ============================================================ -->
    <!-- END RAZOR BODY RENDER                                        -->
    <!-- ============================================================ -->
    <!-- ============================================================ -->
    <!-- FOOTER SECTION                                               -->
    <!-- Contains: About widget, Useful Links, Customer Service,      -->
    <!--           My Account links, Copyright bar + Social icons     -->
    <!-- ============================================================ -->
    
    <footer>
        <div class="w-100 ft-main">
            <div class="container">
                <div class="row">

                    <!-- Footer Widget: About / Brand Info -->
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="widget widget-about">
                            <a href="#" style="max-width: 11.0rem;display: block;">
                                <img class="footer-logo" src="~/Websites/images/logo-2.webp" alt="">
                            </a>
                            <p class="ft-info">Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
                            <div class="widget-info">
                                <div class="row">
                                    <div class="col-sm-6 col-md-4">
                                        <span class="widget-about-title">Got Question? Call us 24/7</span>
                                        <a class="cnt-number" href="tel:+98765432">+98 765 432</a>
                                    </div>
                                    <div class="col-sm-6 col-md-8">
                                        <span class="widget-about-title">Payment Method</span>
                                        <a class="payment_image" href="#">
                                            <img src="~/Websites/images/resources/pay.webp" width="272" height="20">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Footer Widget: About -->
                    <!-- Footer Widget: Useful Links -->
                    <div class="col-lg-2 col-md-2 col-sm-6">
                        <div class="widget">
                            <h4 class="widget-title">Useful Links</h4>
                            <ul class="widget-list list-unstyled">
                                <li>
                                    <a href="about.html">About Midas</a>
                                </li>
                                <li>
                                    <a href="#">How to shop on Molla</a>
                                </li>
                                <li>
                                    <a href="faq.html">FAQ</a>
                                </li>
                                <li>
                                    <a href="contact-us.html">Contact us</a>
                                </li>
                                <li>
                                    <a href="#">Log in</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Footer Widget: Useful Links -->
                    <!-- Footer Widget: Customer Service -->
                    <div class="col-lg-2 col-md-2 col-sm-6">
                        <div class="widget">
                            <h4 class="widget-title">Customer Service</h4>
                            <ul class="widget-list list-unstyled">
                                <li>
                                    <a href="#">Payment Methods</a>
                                </li>
                                <li>
                                    <a href="#">Money-back</a>
                                </li>
                                <li>
                                    <a href="#">Returns</a>
                                </li>
                                <li>
                                    <a href="#">Shipping</a>
                                </li>
                                <li>
                                    <a href="#">Terms and conditions</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Footer Widget: Customer Service -->
                    <!-- Footer Widget: My Account -->
                    <div class="col-lg-2 col-md-2 col-sm-6">
                        <div class="widget">
                            <h4 class="widget-title">My Account</h4>
                            <ul class="widget-list list-unstyled">
                                <li>
                                    <a href="#">Sign In</a>
                                </li>
                                <li>
                                    <a href="#">View Cart</a>
                                </li>
                                <li>
                                    <a href="#">My Wishlist</a>
                                </li>
                                <li>
                                    <a href="#">Track My Order</a>
                                </li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Footer Widget: My Account -->

                </div>

                <!-- Footer Bottom Bar: Copyright + Social Icons -->
                <div class="footer-bottom">
                    <div class="row justify-content-between">
                        <div class="col-12 col-md-auto py-1">
                            <p class="footer-copyright m-0">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                            <ul class="footer-menu list-unstyled">
                                <li>
                                    <a href="#">Terms / Privacy Policy</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-auto py-1">
                            <div class="socials d-flex align-items-center gap-3">
                                <span class="social-label">Social Media</span>
                                <ul class="list-unstyled d-flex align-items-center flex-wrap gap-3">
                                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Footer Bottom Bar -->

            </div>
        </div>
    </footer>
    <!-- ============================================================ -->
    <!-- END FOOTER SECTION                                           -->
    <!-- ============================================================ -->
 
    <!-- Bootstrap JS Bundle -->
    <script src="~/Websites/js/bootstrap.bundle.min.js"></script>

</body>
</html>