@model List<OrderDetails>

<div class="container-fluid px-4">
    <h2 class="mt-4 text-center text-uppercase" style="letter-spacing:4px">Order Details</h2>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped text-center mt-3">
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>quantity</th>
                    <th>price </th>
                    <th>Total</th>
                    <th>Action</th>
                    
               
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.orderDetails_id</td>
                        <td>@order.quantity</td>
                        <td>@order.price</td>
                        <td>@order.sub_total</td>

                        <td>
                            <a href="@Url.Action("updateorderdetail","Admin",new {id=order.orderDetails_id})" class="btn btn-warning">Update</a>
                            <a href="@Url.Action("deletePermissionorderdetail","Admin",new {id=order.orderDetails_id})" class="btn btn-danger">Delete</a>
                        </td>
                       

                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

