@model Admin
<div class="container-fluid px-4">
    <h2 class="mt-4 text-center text-uppercase" style="letter-spacing:4px">My Profile</h2>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form method="post">
            <input type="hidden" name="admin_id" value="@Model.admin_id" />
            <input type="text" placeholder="Enter Your Name" name="admin_name" class="form-control my-3" value="@Model.admin_name"/>
            <input type="text" placeholder="Enter Your Email" name="admin_email" class="form-control my-3" value="@Model.admin_email"/>
            <input type="password" placeholder="Enter Your Password" name="admin_password" class="form-control my-3" value="@Model.admin_password"/>
            <input type="hidden" name="admin_image" value="@Model.admin_image" />

            <input type="submit" value="Update Profile" class="form-control my-3 btn btn-primary"  />
        </form>
        <form method="post" asp-action="changeProfile" enctype="multipart/form-data">
            <input type="hidden" name="admin_id" value="@Model.admin_id" />
            <input type="hidden" name="admin_name" value="@Model.admin_name" />
            <input type="hidden" name="admin_email" value="@Model.admin_email" />
            <input type="hidden" name="admin_password" value="@Model.admin_password" />
            <input type="file" name="admin_image" class="form-control my-3" />
            <img src="@("~/admin_image/"+Model.admin_image )" asp-append-version="true" width="250px" height="250px " /> <br /> <br />
            <input type="submit" value="Change Profile" />
        </form>

    </div>
    <div class="col-md-2"></div>
</div>