@model Product
<div class="container-fluid px-4">
    <h2 class="mt-4 text-center text-uppercase" style="letter-spacing:4px">Update / Edit Product</h2>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form method="post">
            <input type="hidden" name="product_id" value="@Model.product_id" />
            <input type="text" placeholder="Enter Product Name" name="product_name" class="form-control my-3" value="@Model.product_name" />
            <input type="number" placeholder="Enter Product Price" name="product_price" class="form-control my-3" value="@Model.product_price" />
            <input type="text" placeholder="Enter Your Password" name="product_description" class="form-control my-3" value="@Model.product_description" />
            @Html.Partial("CategoryDropdown", ViewData["category"])            
            <input type="hidden" name="product_image" value="@Model.product_image" />

            <input type="submit" value="Update Product" class="form-control my-3 btn btn-primary" /> <br />
            <a href="@Url.Action("fetchproduct","Admin")" class="btn btn-warning form-control my-3"> Back to List</a>

        </form>
        <form method="post" asp-action="changeProductImage" enctype="multipart/form-data">
            <input type="hidden" name="product_id" value="@Model.product_id" />
            <input type="hidden" placeholder="Enter Product Name" name="product_name" class="form-control my-3" value="@Model.product_name" />
            <input type="hidden" placeholder="Enter Product Price" name="product_price" class="form-control my-3" value="@Model.product_price" />
            <input type="hidden" placeholder="Enter Your Password" name="product_description" class="form-control my-3" value="@Model.product_description" />
            <input type="hidden" class="form-control my-3" name="cat_id" value="@Model.cat_id" />
            <input type="file" name="product_image" class="form-control my-3" /> <br />
            <img src="@("~/product_images/"+Model.product_image )" asp-append-version="true" width="250px" height="250px " class="my-3"/> <br />
            <input type="submit" value="Change Product Image" class="form-control my-3 btn btn-primary" /> <br />

        </form>

    </div>
    <div class="col-md-2"></div>
</div>